

@font-face {
    font-family: 'PingFangB';
    src: url('/PingFang-SC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    font-family: 'PingFangB', sans-serif;
}